body {
  padding-top: 60px;
}

footer {
  background: none repeat scroll 0 0 #FFFFFF;
  bottom: 0;
  color: #C0C0C0;
  font-size: 10px;
  left: 10px;
  line-height: 100%;
  padding: 0 0 5px 10px;
  position: fixed;
  width: 100%
}

#container {
  padding-bottom: 55px;
}
