html {
  height: 101%;
}

body {
  height: 100%;
}

footer {
  background-color: #333333;
  color: #C0C0C0;
  font-size: 10px;
  height: 100px;
  line-height: 100%;
  margin-top: -100px;
  min-width: 640px;
  padding: 10px 0 0 0;
  position: relative;
}

nav {
  left: 10px;
  position: fixed;
  top: 60px;
  width: 300px;
  z-index: 999;
}

.container {
  padding: 0 10px;
  width: 620px;
}

#github {
  border: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 1050;
}

#main {
  padding-bottom: 110px;
}

#main-wrapper {
  position: relative;
  padding-top: 60px;
}

#wrapper {
  min-height: 100%;
}

@media screen and (max-width: 1279px) {
  nav {
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  nav {
    position: fixed;
  }
}
