html {
  height: 101%;
}

body {
  height: 100%;
}

footer {
  background-color: #333333;
  color: #C0C0C0;
  font-size: 10px;
  height: 100px;
  line-height: 100%;
  margin-top: -100px;
  padding: 10px 0 0 0;
  position: relative;
}

#main {
  padding-bottom: 100px;
}

#wrapper {
  min-height: 100%;
}

#main-wrapper {
  padding-top: 70px;
}
